{{ define "title" }}: Providers{{ end }}

{{ define "provider" }}
<div class="col-sm-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      {{ .Name }}
    </div>
    <div class="panel-body">
      {{ .Description }}
    </div>
    <div class="panel-footer">
      <i class="fa fa-download"></i> {{ .Users }}
    </div>
  </div>
</div>
{{ end }}

{{ define "body" }}
<div class="container main">
  <div class="text-center">
    <h1>Melange Providers</h1>
    <p>A directory of services that host Melange services and track AirDispatch addresses.</p>
  </div>
  <form role="search">
    <div class="form-group">
    <!-- <input type="search" class="form-control" placeholder="Search for an provider..."> -->
    </div>
  </form>
  <h3><i class="fa fa-fw fa-cloud"></i> Featured Servers</h3>
  <br/>
  <div class="row">
    {{ range .servers }}
      {{ template "provider" . }}
    {{ end }}
  </div>
  <h3><i class="fa fa-fw fa-envelope"></i> Featured Trackers</h3>
  <br/>
  <div class="row">
    {{ range .trackers }}
      {{ template "provider" . }}
    {{ end }}
  </div>
</div>
{{ end }}

{{ define "moreFooter" }}

<div class="secondary">
  <div class="container">
    <h4>Starting a new provider? We can help.</h4>
    <p>
      Find out more information about how to publish and maintain
      providers for Melange in the <a href="/developer">Developer Center</a>.
    </p>
  </div>
</div>
{{ end }}
