extends layout

block content
  .background
    .container.text-center
      h1 Melange
      p.lead
        | A new,
        i  decentralized
        | , social network.
      br
      p
        a.btn.btn-lg.btn-success(href="#")
          i.fa.fa-fw.fa-download
          span Get it Now
      p.small For OSX 10.8 or Later
      br
      img.screenshot(src="/images/screenshot.png")
  br
  .container
    .row
      .col-md-6
        h3 Of the people, for the people.
        p
          | Laboris magna est nulla exercitation esse ex adipisicing qui.
          | Irure qui est dolor deserunt quis fugiat exercitation duis.
          | Sint laboris dolor occaecat laborum ipsum excepteur esse ex esse.
          | Magna amet ex et reprehenderit sit labore nisi occaecat magna eu.
          | Ullamco id do esse do exercitation aliqua duis Lorem et id laborum minim.
        p
          | Aliqua velit nisi ex dolore et dolor minim et.
          | Dolore est labore labore aliquip aliquip Lorem ex ipsum mollit anim.
          | Commodo do dolor in ea do est. Enim aute sint aute dolor excepteur laborum aliqua ea non aute aute.
          | Incididunt culpa et irure do nisi deserunt enim.
      .col-md-6
    br
    .row
      .col-md-6
      .col-md-6
        h3 Of the people, for the people.
        p
          | Laboris magna est nulla exercitation esse ex adipisicing qui.
          | Irure qui est dolor deserunt quis fugiat exercitation duis.
          | Sint laboris dolor occaecat laborum ipsum excepteur esse ex esse.
          | Magna amet ex et reprehenderit sit labore nisi occaecat magna eu.
          | Ullamco id do esse do exercitation aliqua duis Lorem et id laborum minim.
        p
          | Aliqua velit nisi ex dolore et dolor minim et.
          | Dolore est labore labore aliquip aliquip Lorem ex ipsum mollit anim.
          | Commodo do dolor in ea do est. Enim aute sint aute dolor excepteur laborum aliqua ea non aute aute.
          | Incididunt culpa et irure do nisi deserunt enim.
  br
  .background.bottom
    .container
      .row
        .col-md-4
          a(href="http://airdispat.ch")
            img.img-responsive(src="/images/powered-by-ad.png")
