doctype html
html
  head
    title= title
    link(rel="shortcut icon", href="/images/icon.png", type="image/png")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.1.1/lumen/bootstrap.min.css", rel="stylesheet")
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", rel="stylesheet")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
  body
    nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
      .container
        #getmlg-nav
          ul.nav.navbar-nav
            li
              a(href="#") Plugins
            li
              a(href="#") Providers
            li
              a(href="#") Documentation
          ul.nav.navbar-nav.navbar-right
            li
              a(href="#") Blog
            li
              a(href="#") Discuss
    .main
      block content
