.main {
  margin-top: 54px;
}

@background: #f8fbfc;
@border: #fbfbfb;

.header {
  padding: 20px;
  background-color: @background;
  border-bottom: 1px solid @border;
}

.secondary {
  .header;
  background-color: darken(@background, 10%);
}

@footersize: 200px;

.footer {
  background-color: @background;
  border-top: 1px solid @border;
  min-height: @footersize;
  position:absolute;
  bottom:0;
  left:0;
  right: 0;
}

.footer-content {
  padding: 20px;
}

.push-footer {
  margin-top: 15px;
  margin-bottom: -15px;
}

.nav-image {
  a {
    padding: 7px !important;

    img {
      height: 36px;
    }
  }
}

html,
body {
	margin:0;
	padding:0;
	height:100%;
}

.wrapper {
	min-height:100%;
	position:relative;
}

.content {
	padding-bottom: @footersize + 30px;   /* Height of the footer element */
}
