{{ define "title" }}: Developer{{ end }}

{{ define "body" }}
<div class="developer">
  <div class="container main">
    <div class="text-center col-md-8 col-md-offset-2">
      <h1>Melange Developer Center</h1>
      <h3>
        Quick information on how to extend Melange
        and get your applications in the hands of
        users.
      </h3>
      <!-- <br/> -->
      <!-- <form role="search"> -->
      <!--   <div class="form-group"> -->
      <!--     <div class="input-group"> -->
      <!--       <input type="search" class="form-control" placeholder="Search for a Resource..."> -->
      <!--       <span class="input-group-btn"> -->
      <!--         <button type="submit" class="btn btn-default">Go</button> -->
      <!--       </span> -->
      <!--     </div> -->
      <!--   </div> -->
      <!-- </form> -->
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>
        Publish
        <small>Get your hard work on Melange.</small>
      </h3>
      {{ if .authenticated }}
      <p>Logged in as {{ .user.Name }}. <a href="/developer/logout">Logout</a></p>
      <ul>
        <li><a href="/developer/publish/app"><i class="fa fa-fw fa-cube"></i> Application</a></li>
        <li><a href="/developer/publish/server"><i class="fa fa-fw fa-cloud"></i> Server</a></li>
        <li><a href="/developer/publish/tracker"><i class="fa fa-fw fa-envelope"></i> Tracker</a></li>
      </ul>
      {{ else }}
      <div>
        <p>In order to publish applications, you must be logged in.</p>
        <p>
          <a class="btn btn-primary" href="https://github.com/login/oauth/authorize?scope=user:email&client_id={{ .clientId }}">
            <i class="fa fa-github"></i> Sign in with Github
          </a>
        </p>
      </div>
      {{ end }}
    </div>
    <div class="col-md-6">
      <h3>
        Guides
        <small>Learn how to create helpful resources.</small>
      </h3>
      <h4>Applications</h4>
      <ul class="list-unstyled">
        <li><a href="/developer/view/apps/creating">Getting Started building Applications</a></li>
        <li><a href="/developer/view/api">API Reference</a></li>
      </ul>
      <h4>Server</h4>
      <ul class="list-unstyled">
        <li><a href="/developer/view/servers/creating">Creating a Compliant Server</a></li>
      </ul>
      <h4>Tracker</h4>
      <ul class="list-unstyled">
        <li><a href="/developer/view/trackers/creating">Creating a Compliant Tracker</a></li>
      </ul>
    </div>
  </div>
</div>
{{ end }}

{{ define "moreFooter" }}{{ end }}
