<div class="container main">
  <div class="text-center">
    <h1>Melange Applications</h1>
    <p>Discover applications that extend what Melange can do.</p>
  </div>
  <form role="search">
    <div class="form-group">
    <input type="search" class="form-control" placeholder="Search for an application...">
    </div>
  </form>
  <h3><i class="fa fa-fw fa-star"></i> Featured Applications</h3>
  <br/>
  <div class="row">
    <mlg-app-panel size="6" ng-repeat="i in [1, 2, 3]"></mlg-app-panel>
  </div>
  <h3><i class="fa fa-fw fa-heart"></i> Most Used Applications</h3>
  <br/>
  <div class="row">
    <mlg-app-panel size="6" ng-repeat="i in [1, 2, 3]"></mlg-app-panel>
  </div>
</div>
<div class="secondary push-footer">
  <div class="container">
    <h4>Psst, looking to create an application?</h4>
    <p>
      We can help you create and publish your application to
      Melange in the <a href="#/developer">Developer Center</a>
    </p>
  </div>
</div>
