<div class="container main">
  <div class="text-center">
    <h1>Melange Developer</h1>
    <p>Quis Lorem consectetur enim elit adipisicing officia anim occaecat in ullamco.</p>
  </div>
  <form role="search">
    <div class="form-group">
    <input type="search" class="form-control" placeholder="Search for a Resource...">
    </div>
  </form>
  <h3>
    Publish
    <small>Get your hard work on Melange.</small>
  </h3>
  <ul>
    <li><a href="#/developer/publish/app"><i class="fa fa-fw fa-cube"></i> Application</a></li>
    <li><a href="#/developer/publish/server"><i class="fa fa-fw fa-cloud"></i> Server</a></li>
    <li><a href="#/developer/publish/tracker"><i class="fa fa-fw fa-envelope"></i> Tracker</a></li>
  </ul>
  <hr/>
  <h3>
    Guides
    <small>Learn how to create helpful resources.</small>
  </h3>
  <h4>Applications</h4>
  <ul>
    <li><a href="#/developer/getting-started-building-applications">Getting Started building Applications</a></li>
  </ul>
  <h4>Server</h4>
  <ul>
    <li><a href="#/developer/creating-a-compliant-server">Creating a Compliant Server</a></li>
  </ul>
  <h4>Tracker</h4>
  <ul>
    <li><a href="#/developer/creating-a-compliant-tracker">Creating a Compliant Tracker</a></li>
  </ul>
</div>
