<div class="header main">

  <!-- Fork Me on Github -->
  <a href="https://github.com/melange-app"><img style="position: absolute; top: 45px; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>

  <div class="container text-center">
    <img src="public/images/melange.png" width="200">
    <h1>Melange</h1>
    <p class="lead">The new <i>decentralized</i> social network that puts data back in the user's control.</p>
    <p><a href="#" class="btn btn-lg btn-primary">Download Now</a></p>
    <p class="text-muted">for Max OS X (<a href="http://github.com/melange-app/melange/releases">others</a>)</p>
  </div>
</div>

<!-- Regular Content -->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <h3>Private by default.</h3>
      <p>
        Melange combines the new secure and decentralized
        <a href="http://airdispat.ch">AirDispatch</a> protocol with elements of a
        social network. Since there is no big company running things behind the
        scenes, nobody can sell your data to advertisers, even if they wanted to.
        <br/><br/>
        On Melange, you control who <i>you</i> talk to, share data with, and how
        secure you are.
      </p>
    </div>
    <div class="col-sm-6 text-center">
      <span class="fa-stack fa-5x" style="margin-top: .5em;">
        <i class="fa fa-eye fa-stack-1x"></i>
        <i class="fa fa-ban fa-stack-2x text-danger"></i>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 text-center">
      <span class="fa-stack fa-5x" style="margin-top: .5em;">
        <i class="fa fa-puzzle-piece fa-stack-1x"></i>
        <i class="fa fa-circle-o fa-stack-2x text-success"></i>
      </span>
    </div>
    <div class="col-sm-6">
      <h3>Extensible to the core.</h3>
      <p>
        Melange has support for Apps baked in. Without having to re-add all your
        friends, you can go from sharing 140-character updates, to sharing photos
        with filters, or even something completely new. Check out the App tab
        above to see which Apps are available. If you don't see what you want,
        you can build your own on the Melange Plugin API.
        <br/><br/>
        If plugins weren't enough, Melange was built on the same core technologies that power
        <a href="http://atom.io">Atom</a> the new editor from Github. It uses a
        combination of HTML, JS, and Go to perform actions. You can tinker with
        the look and feel since all of the source is provided with the application.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <h3>Coming soon to a computer near you.</h3>
      <p>
        Currently, Melange is in a Developer Preview. If you are interested
        in participating and building applications for our platform, enter your
        email at the top of the page. We will contact you when it's ready.
      </p>
    </div>
    <div class="col-sm-6 text-center">
      <span class="fa-stack fa-5x" style="margin-top: .5em;">
        <i class="fa fa-flash fa-stack-1x"></i>
        <i class="fa fa-circle-o fa-stack-2x text-success"></i>
      </span>
    </div>
  </div>

  <hr/>

  <div class="row text-center">
    <!-- <div class="col-sm-3">
      <span class="fa-stack fa-3x">
        <i class="fa fa-institution fa-stack-1x"></i>
        <i class="fa fa-circle-o fa-stack-2x text-success"></i>
      </span>
      <p>Enterprise ready.</p>
    </div> -->
    <div class="col-sm-4">
      <span class="fa-stack fa-3x">
        <i class="fa fa-money fa-stack-1x"></i>
        <i class="fa fa-ban fa-stack-2x text-danger"></i>
      </span>
      <p>Completely free.</p>
    </div>
    <div class="col-sm-4">
      <span class="fa-stack fa-3x">
        <i class="fa fa-home fa-stack-1x"></i>
        <i class="fa fa-circle-o fa-stack-2x text-success"></i>
      </span>
      <p>Self-hostable.</p>
    </div>
    <div class="col-sm-4">
      <span class="fa-stack fa-3x">
        <i class="fa fa-support fa-stack-1x"></i>
        <i class="fa fa-circle-o fa-stack-2x text-success"></i>
      </span>
      <p><a href="">Support available.</a></p>
    </div>
  </div>
</div>

<div class="secondary text-center push-footer">
  <div class="container">
    <span class="lead">
      The possibilities are endless.
      Learn how to create for Melange at the Developer Center.
    </span>
  </div>
</div>
