<div class="header main">

  <!-- Fork Me on Github -->
  <a href="https://github.com/melange-app"><img style="position: absolute; top: 45px; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>

  <div class="container text-center">
    <img src="public/images/melange.png" width="200">
    <h1>Melange</h1>
    <p class="lead">The new <i>decentralized</i> social network that puts data back in the user's control.</p>
    <p><a href="#" class="btn btn-lg btn-primary">Download Now</a></p>
    <p class="text-muted">for Max OS X (<a href="http://github.com/melange-app/melange/releases">others</a>)</p>
  </div>
</div>

<!-- Regular Content -->
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6">
      <h3>Private by default.</h3>
      <p>
        Elit elit aliquip nisi proident incididunt ipsum ex exercitation
        ullamco est pariatur elit. Eu cillum occaecat culpa excepteur ut
        qui amet nostrud eiusmod. Sunt anim laborum voluptate pariatur ex
        eiusmod reprehenderit nostrud consectetur aliquip eu. Nisi id
        tempor nostrud enim sunt velit ut sunt. Deserunt culpa do tempor sint
        consequat nostrud non amet aliquip. Deserunt duis commodo labore
        exercitation cillum nulla laboris mollit proident velit. Amet
        tempor culpa elit minim consequat in laboris ullamco esse tempor
        minim cupidatat laborum.
      </p>
    </div>
    <div class="col-xs-6 text-center">
      <span class="fa-stack fa-5x" style="margin-top: .5em;">
        <i class="fa fa-eye fa-stack-1x"></i>
        <i class="fa fa-ban fa-stack-2x text-danger"></i>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 text-center">
      <span class="fa-stack fa-5x" style="margin-top: .5em;">
        <i class="fa fa-puzzle-piece fa-stack-1x"></i>
        <i class="fa fa-circle-o fa-stack-2x text-success"></i>
      </span>
    </div>
    <div class="col-xs-6">
      <h3>Extensible to the core.</h3>
      <p>
        Elit elit aliquip nisi proident incididunt ipsum ex exercitation
        ullamco est pariatur elit. Eu cillum occaecat culpa excepteur ut
        qui amet nostrud eiusmod. Sunt anim laborum voluptate pariatur ex
        eiusmod reprehenderit nostrud consectetur aliquip eu. Nisi id
        tempor nostrud enim sunt velit ut sunt. Deserunt culpa do tempor sint
        consequat nostrud non amet aliquip. Deserunt duis commodo labore
        exercitation cillum nulla laboris mollit proident velit. Amet
        tempor culpa elit minim consequat in laboris ullamco esse tempor
        minim cupidatat laborum.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <h3>The future is here.</h3>
      <p>
        Elit elit aliquip nisi proident incididunt ipsum ex exercitation
        ullamco est pariatur elit. Eu cillum occaecat culpa excepteur ut
        qui amet nostrud eiusmod. Sunt anim laborum voluptate pariatur ex
        eiusmod reprehenderit nostrud consectetur aliquip eu. Nisi id
        tempor nostrud enim sunt velit ut sunt. Deserunt culpa do tempor sint
        consequat nostrud non amet aliquip. Deserunt duis commodo labore
        exercitation cillum nulla laboris mollit proident velit. Amet
        tempor culpa elit minim consequat in laboris ullamco esse tempor
        minim cupidatat laborum.
      </p>
    </div>
    <div class="col-xs-6 text-center">
      <span class="fa-stack fa-5x" style="margin-top: .5em;">
        <i class="fa fa-flash fa-stack-1x"></i>
        <i class="fa fa-circle-o fa-stack-2x text-success"></i>
      </span>
    </div>
  </div>

  <hr/>

  <div class="row text-center">
    <div class="col-sm-3">
      <span class="fa-stack fa-3x">
        <i class="fa fa-institution fa-stack-1x"></i>
        <i class="fa fa-circle-o fa-stack-2x text-success"></i>
      </span>
      <p>Enterprise ready.</p>
    </div>
    <div class="col-sm-3">
      <span class="fa-stack fa-3x">
        <i class="fa fa-money fa-stack-1x"></i>
        <i class="fa fa-ban fa-stack-2x text-danger"></i>
      </span>
      <p>Completely free.</p>
    </div>
    <div class="col-sm-3">
      <span class="fa-stack fa-3x">
        <i class="fa fa-home fa-stack-1x"></i>
        <i class="fa fa-circle-o fa-stack-2x text-success"></i>
      </span>
      <p>Self-hostable.</p>
    </div>
    <div class="col-sm-3">
      <span class="fa-stack fa-3x">
        <i class="fa fa-support fa-stack-1x"></i>
        <i class="fa fa-circle-o fa-stack-2x text-success"></i>
      </span>
      <p>Support available.</p>
    </div>
  </div>
</div>

<div class="secondary text-center push-footer">
  <div class="container">
    <span class="lead">
      The possibilities are endless.
      Learn how to create for Melange at the Developer Center.
    </span>
  </div>
</div>
