<div class="container main">
  <div class="text-center">
    <h1>Melange Providers</h1>
    <p>A directory of services that host Melange services and track AirDispatch addresses.</p>
  </div>
  <form role="search">
    <div class="form-group">
    <input type="search" class="form-control" placeholder="Search for an provider...">
    </div>
  </form>
  <h3><i class="fa fa-fw fa-cloud"></i> Featured Servers</h3>
  <br/>
  <div class="row">
    <mlg-app-panel size="6" object="p" ng-repeat="p in servers"></mlg-app-panel>
  </div>
  <h3><i class="fa fa-fw fa-envelope"></i> Featured Trackers</h3>
  <br/>
  <div class="row">
    <mlg-app-panel size="6" object="p" ng-repeat="p in trackers"></mlg-app-panel>
  </div>
</div>
<div class="secondary push-footer">
  <div class="container">
    <h4>Starting a new provider? We can help.</h4>
    <p>
      Find out more information about how to publish and maintain
      providers for Melange in the <a href="/developer">Developer Center</a>.
    </p>
  </div>
</div>
